In [69]:
import pandas as pd
import numpy as np
import datetime
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import matplotlib.pyplot as plt

df = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
df= df.set_index('srno')
df.head(10)

,Brand,Brand label,Model,Year_Of_Registration,Month_Of_Registation,Km_Driven,Price_inEURO,PowerPS,GearBox,FuelType,VehicleType,GearBox label,FuelType label,VehicleType label
srno,,,,,,,,,,,,,,
1,audi,1,a5,2011,5,125000,18300,190,manual,diesel,coupe,11.0,21.0,31.0
2,jeep,2,grand,2004,8,125000,9800,163,automatic,diesel,suv,12.0,21.0,32.0
3,volkswagen,3,golf,2001,6,150000,1500,75,manual,petrol,hatchback,11.0,22.0,33.0
4,skoda,4,fabia,2008,7,90000,3600,69,manual,diesel,hatchback,11.0,21.0,33.0
5,peugeot,5,2_reihe,2004,8,150000,2200,109,manual,petrol,convertible,11.0,22.0,34.0
6,ford,6,c_max,2014,8,30000,14500,125,manual,petrol,wagon,11.0,22.0,35.0
7,mazda,7,3_reihe,2004,12,150000,2000,105,manual,petrol,sedan,11.0,22.0,36.0
8,volkswagen,3,passat,2005,12,150000,2799,140,manual,diesel,sedan,11.0,21.0,36.0
9,volkswagen,3,passat,2004,2,150000,2500,131,manual,NaN,sedan,11.0,NaN,36.0
10,nissan,8,navara,2011,3,70000,17999,190,manual,diesel,suv,11.0,21.0,32.0

In [2]:
df['Brand'].unique()

array(['audi', 'jeep', 'volkswagen', 'skoda', 'peugeot', 'ford', 'mazda',
       'nissan', 'renault', 'mercedes_benz', 'bmw', 'opel', 'citroen',
       'honda', 'fiat', 'mini', 'smart', 'hyundai', 'seat', 'volvo',
       'mitsubishi', 'alfa_romeo', 'kia', 'lancia', 'porsche',
       'sonstige_autos', 'chevrolet', 'dacia', 'daihatsu', 'toyota',
       'suzuki', 'chrysler', 'rover', 'daewoo', 'saab', 'subaru',
       'land_rover', 'yesguar', 'lada', 'trabant', 'jaguar'], dtype=object)

In [3]:
bd = 'audi'
yor = 2011
df_brand_year = df.query('Brand == "'+bd+'" and Year_Of_Registration == '+str(yor))
df_brand_year.head(2)
avg = np.average(df_brand_year['Price_inEURO'])

In [4]:
#Distribution of price over year
#Scatter plot
fig = px.scatter(df_brand_year,x='Month_Of_Registation',y='Price_inEURO')
#fig.show()

#df_brand['Price_inEURO'].max()

In [5]:
fig = go.Figure(data=go.Scatter(
    x=df_brand['Year_Of_Registration'],
    y=df_brand['Price_inEURO'],
    mode='markers',
    marker=dict(
        size=8,
        color= df_brand['Price_inEURO'], 
        colorscale='Viridis',
        showscale=True
    )
))

fig.show()

NameError: name 'df_brand' is not defined

In [ ]:
years = df['Year_Of_Registration'].unique()
df_brand = df.loc[df['Brand']=='audi']
years
av_price = []
for year in years:
    df_year = df_brand.query('Year_Of_Registration == '+str(year))
    avg_price = np.average(df_year['Price_inEURO'])
    av_price.append(avg_price)
av_price

data = {'Years':years,
       'Average Price':av_price}
avg_df = pd.DataFrame(data)
avg_df.sort_values(by='Years')

In [ ]:
df_brand = df.loc[df['Brand']=='ford']
#df.loc[df['Model']=='NA']
df_brand.loc[df_brand['Year_Of_Registration']==2002]
#df_brand.query('Year_Of_Registration ==2002, Month_Of_Registation == 5, Km_Driven == 125000 and PowerPS==190')

In [ ]:
df[''].unique()

In [1]:
#K-nn Classifier

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
import pickle

np.set_printoptions(precision=2)

df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")

df_car = df_car.loc[df_car['Brand'] == 'ford']
df_car.drop(['Brand','Model','GearBox','FuelType','VehicleType'], inplace=True, axis=1)
df_car.fillna(0, inplace=True)
#df_brand.head(5)


car_features = ['Year_Of_Registration','Km_Driven','PowerPS','GearBox label','FuelType label','VehicleType label']

X_Car = df_car[car_features]
Y_Car = df_car['Price_inEURO']
target_car = df_car.Price_inEURO.values

X_train, X_test, y_train, y_test = train_test_split(X_Car, Y_Car, random_state=0)

scaler = MinMaxScaler()

X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=10)
#knn = KNeighborsClassifier(n_neighbors = 5)

knn.fit(X_train_scale, y_train)

filename  = 'knnModel.sav'
pickle.dump(knn,open(filename,'wb'))

#load_model = pickle.load(open(filename,'rb'))
#print('Accuracy of K-NN classifier on training set: {:.2f}'
 #    .format(load_model.score(X_train_scale, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}' 
     .format(load.score(X_test_scale, y_test)))

example_car = [[2002, 100000, 50, 11, 22, 35]]
example_car_scaled = scaler.transform(example_car)
print('Predicted Car price is ', target_car[load_model.predict(example_car_scaled)[0]-1])

Accuracy of K-NN classifier on test set: 0.04
Predicted Car price is  650

In [ ]:
df_brand.loc[df_brand['Km_Driven']==5000]

In [ ]:
f = plt.figure(figsize=(10,4))
sns.countplot(x=df['Km_Driven'], data=df)
plt.show()

In [ ]:
df.query('Km_Driven >=5000 and Km_Driven <= 30000')

In [ ]:
def scatterPlot():
    fig = go.Figure(data=go.Scatter(
    x= df['Km_Driven'],
    y= df['Price_inEURO'],
    mode='markers',
    #height=700,
    marker=dict(
        size=8,
        color= df['Price_inEURO'], 
        colorscale='Viridis',
        showscale=True
    )))
    return fig.show()
scatterPlot()

In [65]:
df_brand = df_car
df_brand

df_car

KeyError: "['Brand' 'Model' 'GearBox' 'FuelType' 'VehicleType'] not found in axis"

In [78]:
#df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
df_car.loc[df_car['GearBox label']==12]

,srno,Brand label,Year_Of_Registration,Month_Of_Registation,Km_Driven,Price_inEURO,PowerPS,GearBox label,FuelType label,VehicleType label
1,2,2,2004,8,125000,9800,163,12.0,21.0,32.0
10,11,9,2004,2,150000,1750,75,12.0,22.0,33.0
14,15,11,2002,7,150000,3699,231,12.0,22.0,36.0
16,17,11,2002,9,150000,2500,193,12.0,21.0,36.0
21,22,11,2007,5,20000,18000,218,12.0,22.0,36.0
...,...,...,...,...,...,...,...,...,...,...
237148,237149,10,2005,9,150000,2600,0,12.0,0.0,0.0
237154,237155,10,2003,3,150000,6500,145,12.0,21.0,36.0
237155,237156,10,2003,12,150000,5000,260,12.0,21.0,36.0
237161,237162,22,2016,12,150000,5250,150,12.0,0.0,0.0
237165,237166,17,2000,3,125000,1199,101,12.0,22.0,34.0

In [3]:
load_model = pickle.load(open(filename,'rb'))
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(load_model.score(X_train_scale, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}' 
     .format(load_model.score(X_test_scale, y_test)))

example_car = [[27, 2010, 100000, 150, 12, 22, 36]]
example_car_scaled = scaler.transform(example_car)
print('Predicted Car price is ', target_car[load_model.predict(example_car_scaled)[0]-1])

Accuracy of K-NN classifier on training set: 0.76
Accuracy of K-NN classifier on test set: 0.75
Predicted Car price is  12500

In [6]:
df = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
brand = df.loc[df['Brand']=='audi']
brand['Model'].unique()

array(['a5', 'a8', 'a4', 'a1', 'a6', 'a3', 'tt', 'a2', 'not available',
       'q5', nan, 'q3', 'q7', 'audi 80', 'audi 90', 'audi 100'],
      dtype=object)

In [5]:
#inear regression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression 
sns.set()
import pickle
from sklearn.metrics import accuracy_score

np.set_printoptions(precision=2)

df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")

#df_car = df_car.loc[df_car['Brand']== 'ford']
df_car.drop(['Brand','Model','GearBox','FuelType','VehicleType'], inplace=True, axis=1)
df_car.fillna(0, inplace=True)
#df_brand.head(5)


car_features = ['Brand label','Year_Of_Registration','Km_Driven','PowerPS','GearBox label','FuelType label','VehicleType label']

X_Car = df_car[car_features]
Y_Car = df_car['Price_inEURO']
target_car = df_car.Price_inEURO.values

X_train, X_test, y_train, y_test = train_test_split(X_Car, Y_Car, test_size = 0.25)

scaler = MinMaxScaler()

X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

lr = LinearRegression()
#knn = KNeighborsClassifier(n_neighbors = 5)

lr.fit(X_train_scale, y_train)

filename  = 'linear.pkl'
pickle.dump(lr,open(filename,'wb'))
load_model = pickle.load(open(filename,'rb'))
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(lr.score(X_train_scale, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}' 
     .format(lr.score(X_test_scale, y_test)))

example_car = [[27, 2002, 150000, 50, 11, 22, 33]]
example_car_scaled = scaler.transform(example_car)
price = lr.predict(example_car_scaled)
print(price[0])
#print(accuracy_score(y_tr, y_test))

Accuracy of K-NN classifier on training set: 0.42
Accuracy of K-NN classifier on test set: 0.43
1324.9091301013295

In [7]:
load_model = pickle.load(open(filename,'rb'))
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(load_model.score(X_train_scale, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}' 
     .format(load_model.score(X_test_scale, y_test)))

example_car = [[27, 2002, 150000, 50, 11, 22, 33]]
#example_car_scaled = scaler.transform(example_car)
price = load_model.predict(example_car)
print(price[0])

Accuracy of K-NN classifier on training set: 0.42
Accuracy of K-NN classifier on test set: 0.43
-844707209.6258571

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression 
sns.set()
import pickle
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

np.set_printoptions(precision=2)

df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
df_car = df_car.loc[df_car['Brand']== 'lada']
df_car.drop(['Brand','Month_Of_Registration','Model','GearBox','FuelType','VehicleType'], inplace=True, axis=1)

df_car.fillna(0, inplace=True)

#Collecting x and y
Car_X = df_car.drop('Price_inEURO', axis=1)
Car_Y = df_car['Price_inEURO']
X_train, X_test, y_train, y_test = train_test_split(Car_X, Car_Y, test_size = 0.30)

linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

y_pred = linear_reg.predict(X_test)
#example_car = [[2002, 150000, 50, 11, 22, 33]]
#example_car_scaled = scaler.transform(example_car)
#price = linear_reg.predict(example_car_scaled)
#print('{:.2f}'.format(price[0]))

print("R square", r2_score(y_test, y_pred))

R square 0.5503363958261726

In [16]:
#logistic Regression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import LogisticRegression 
sns.set()
import pickle
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score


np.set_printoptions(precision=2)

df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
df_car = df_car.loc[df_car['Brand']== 'audi']

df_car.drop(['srno','Brand','Month_Of_Registration','Model','GearBox','FuelType','VehicleType'], inplace=True, axis=1)

df_car.fillna(0, inplace=True)

#Collecting x and y
Car_X = df_car.drop('Price_inEURO', axis=1)
Car_Y = df_car['Price_inEURO']

X_train, X_test, y_train, y_test = train_test_split(Car_X, Car_Y, test_size = 0.25, random_state=0)

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

logmodel = LogisticRegression(random_state=0)
logmodel.fit(X_train_scaled, y_train)

y_pred = logmodel.predict(X_test_scaled)
print("R square", r2_score(y_test, y_pred))

#filename  = 'VolksWagen_logistic.pkl'
#pickle.dump(logmodel,open(filename,'wb'))

R square 0.4801210035302319

c:\users\heman\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [2]:
#XGB Regression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import LogisticRegression 
sns.set()
import pickle
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
import xgboost as xgb

np.set_printoptions(precision=2)

df_car = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
#df_car = df_car.loc[df_car['Brand']== 'lada']

df_car.drop(['srno','Brand','Month_Of_Registration','Model','GearBox','FuelType','VehicleType','MOR label'], inplace=True, axis=1)

df_car.fillna(0, inplace=True)

#Collecting x and y
Car_X = df_car.drop('Price_inEURO', axis=1)
Car_Y = df_car['Price_inEURO']

X_train, X_test, y_train, y_test = train_test_split(Car_X, Car_Y, test_size = 0.25, random_state=0)

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

xgb_reg = xgb.XGBRegressor(verbosity = 0)
xgb_reg.fit(X_train_scaled, y_train)

y_pred = xgb_reg.predict(X_test_scaled)
print("R square", r2_score(y_test, y_pred)*100)

filename  = 'xgb_reg.pkl'
pickle.dump(xgb_reg, open(filename,'wb'))

R square 89.27304494431945

,Brand label,Year_Of_Registration,Km_Driven,Price_inEURO,PowerPS,GearBox label,FuelType label,VehicleType label
0,1,2011,125000,18300,190,11.0,21.0,31.0
1,2,2004,125000,9800,163,12.0,21.0,32.0
2,3,2001,150000,1500,75,11.0,22.0,33.0
3,4,2008,90000,3600,69,11.0,21.0,33.0
4,5,2004,150000,2200,109,11.0,22.0,34.0
...,...,...,...,...,...,...,...,...
237163,12,2000,150000,1150,0,11.0,22.0,35.0
237164,26,2005,20000,2200,0,0.0,0.0,0.0
237165,17,2000,125000,1199,101,12.0,22.0,34.0
237166,3,2002,150000,3400,100,11.0,21.0,36.0
237167,11,2013,50000,28990,320,11.0,22.0,36.0

In [6]:
example_car = [[6, 2008, 200000, 70, 12, 22, 33]]
example_car_scaled = sc.transform(example_car)
load_xgb = pickle.load(open(filename,'rb'))
price = load_xgb.predict(example_car_scaled)
print('{:.2f}'.format(price[0]))

4077.49

In [16]:
import pandas as pd
import numpy as np
import datetime
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import matplotlib.pyplot as plt

df = pd.read_csv('D:\\Hemant\\Msc\\Sem 3\\project\\car data\\autos_cleaned.csv',engine="python")
df.head(10)

,srno,Brand,Brand label,Model,Year_Of_Registration,Month_Of_Registration,Km_Driven,Price_inEURO,PowerPS,GearBox,FuelType,VehicleType,GearBox label,FuelType label,VehicleType label,MOR label
0,1,audi,1,a5,2011,May,125000,18300,190,manual,diesel,coupe,11.0,21.0,31.0,5
1,2,jeep,2,grand,2004,Aug,125000,9800,163,automatic,diesel,suv,12.0,21.0,32.0,8
2,3,volkswagen,3,golf,2001,June,150000,1500,75,manual,petrol,hatchback,11.0,22.0,33.0,6
3,4,skoda,4,fabia,2008,July,90000,3600,69,manual,diesel,hatchback,11.0,21.0,33.0,7
4,5,peugeot,5,2_reihe,2004,Aug,150000,2200,109,manual,petrol,convertible,11.0,22.0,34.0,8
5,6,ford,6,c_max,2014,Aug,30000,14500,125,manual,petrol,wagon,11.0,22.0,35.0,8
6,7,mazda,7,3_reihe,2004,Dec,150000,2000,105,manual,petrol,sedan,11.0,22.0,36.0,12
7,8,volkswagen,3,passat,2005,Dec,150000,2799,140,manual,diesel,sedan,11.0,21.0,36.0,12
8,9,volkswagen,3,passat,2004,Feb,150000,2500,131,manual,NaN,sedan,11.0,NaN,36.0,2
9,10,nissan,8,navara,2011,Mar,70000,17999,190,manual,diesel,suv,11.0,21.0,32.0,3

In [19]:
df_year = df.loc[df['Year_Of_Registration']==2000]
df_brand_count = pd.DataFrame(df_year['Brand'].value_counts())
df_brand_count.reset_index(inplace=True)
df_brand_count.columns = ['Brand','Frequency']
df_brand_count

             Brand  Frequency
0       volkswagen       3529
1             opel       2253
2    mercedes_benz       2014
3              bmw       1811
4             audi       1240
5             ford       1199
6          renault       1041
7             fiat        504
8          peugeot        500
9             seat        361
10           smart        359
11           mazda        277
12          nissan        257
13          toyota        219
14         citroen        195
15           volvo        180
16      mitsubishi        172
17           skoda        155
18           honda        110
19      alfa_romeo        105
20        chrysler         98
21  sonstige_autos         92
22         hyundai         73
23          suzuki         68
24           rover         58
25            saab         51
26         porsche         45
27        daihatsu         43
28          daewoo         42
29            jeep         40
30          lancia         38
31          jaguar         38
32          subaru         37
33      land_rover         34
34             kia         28
35       chevrolet         27
36         yesguar         18
37            mini          7
38            lada          1